{% extends 'base.html' %}
{% block title %}Courses{% endblock title %}


    {% block header %}
            <li><a href="../../../../../../../../">Home</a></li>
            <li><a href="../../../../../../../../courses.html">Courses</a></li>
            <li class="active"><a href="../../../../../../../../about.html">About</a></li>
            <li><a href="../../../../../../../../news.html">News</a></li>
    {% endblock header %}
    {% block nav %}
    <div class="wrapper col2">
      <div id="breadcrumb">
        <ul>
          <li class="first">You Are Here</li>
          <li>&#187;</li>
          <li><a href="../../../../../../../../">Home</a></li>
          <li>&#187;</li>
          <li class="current"><a href="../../../../../../../../about.html">About</a></li>
        </ul>
      </div>
    </div>
    {% endblock nav %}

{% block content %}
<center><div class="wrapper col4  ">
<h1><br><pre>                                   Come help us build the education the world deserves</pre><br></h1>
</div>
<h1>About Levelup</h1>

<pre>Levelup is an education company. But not one in the way you might
think. We're committed to building the best learning experience inside
and out, making Levelup the best place for our team to learn, teach,
and create the online learning experience of the future.

</pre>

<pre>Education is old. The current public school system in the US dates
back to the 19th century and wasn't designed to scale the way it has.
Lots of companies are working to "disrupt" education by changing the way
things work in the classroom and by bringing the classroom online.

</pre>

<h1>Our Mission</h1>

<pre>We're not one of those companies. We are rethinking education from
the bottom up. The web has rethought nearly everything - commerce, social
networking, healthcare, and more. We are building the education the world
needs - the first truly net native education. We take more cues from
Facebook and Zynga in creating an engaging educational experience than we
do from the classroom.

Education is broken. Come help us build the education the world deserves.</pre>
<br><br>
<p>Want to write about us?</p>

<p>Email us at <a href="teijaboo@gmail.com" >teijaboo@gmail.com</a> or download our press kit.</p>
</center>
{% endblock content %}