{% extends 'base.html' %}
{% block title %}Course 1{% endblock title %}


    {% block header %}
            <li><a href="../../../../../../../../">Home</a></li>
            <li class="active"><a href="../../../../../../../../courses.html">Courses</a></li>
            <li><a href="../../../../../../../../about.html">About</a></li>
            <li><a href="../../../../../../../../news.html">News</a></li>
    {% endblock header %}
    {% block nav %}
    <div class="wrapper col2">
      <div id="breadcrumb">
        <ul>
          <li class="first">You Are Here</li>
          <li>&#187;</li>
          <li><a href="../../../../../../../../">Home</a></li>
          <li>&#187;</li>
          <li><a href="../../../../../../../../courses.html">Courses</a></li>
          <li>&#187;</li>
          <li class="current"><a href="../../../../../../../../course1.html">Course 1</a></li>
          <li>&#187;</li>
        </ul>
      </div>
    </div>
    {% endblock nav %}

    {% block content %}
{% if y != faculty and user.is_authenticated %}
      <form method="POST" action="{% url 'register1' %}">
      {% csrf_token %}
        <input type="submit" name="submit" value="Submit">
      </form>
{% elif y == faculty and user.is_authenticated %}

<h1>FACULTY</h1>




{% else %}
<center><h2>Students/Faculty Login</h2>
            <form action="{% url 'signin' %}" method="post">
            {% csrf_token %}
              <fieldset>
                <legend>Students Login Form</legend>
                <label for="pupilname">Username:
                  <input type="text" name="pupilname" id="pupilname" value="" />
                </label><br>
                <label for="pupilpass">Password:
                  <input type="password" name="pupilpass" id="pupilpass" value="" />
                </label>
                <p>
                <br>
                  <input type="submit" name="pupillogin" id="pupillogin" value="Login" />
                  &nbsp;
                  <input type="reset" name="pupilreset" id="pupilreset" value="Reset" />
                  &nbsp;<br><br>
                </p>
              </fieldset>
            </form></center>
{% endif %}

    {% endblock content %}