{% extends 'base.html' %}
{% block title %}Error{% endblock title %}


    {% block header %}
    <div class="wrapper col1">
      <div id="header">
        <div id="logo">
          <h1><a href="../../../../../../../../">GGWP Schools</a></h1>
          <p>#Tagline here</p>
        </div>
        <div id="topnav">
          <ul>
            <li class="active"><a href="../../../../../../../../">Home</a></li>
            <li><a href="../../../../../../../../courses.html">Courses</a></li>
            <li><a href="../../../../../../../../about.html">About</a></li>
            <li class="last"><a href="../../../../../../../../news.html">News</a></li>
          </ul>
        </div>
        <br class="clear" />
      </div>
    </div>
    {% endblock header %}

{% block content %}

<h1>No user exist!</h1>
<h3><a href="../signup.html">New Student? REGISTER HERE! &raquo;</a></h3>
<br>
<h5><p><a href="../signup_faculty.html">Signing up for Faculty? SIGN UP HERE! &raquo;</a></p></h5>
<a href="/">Home</a>
{% endblock content %}
