{% extends 'base.html' %}
{% block title %}Home{% endblock title %}


    {% block header %}
            <li class="active"><a href="../../../../../../../../">Home</a></li>
            <li><a href="../../../../../../../../courses.html">Courses</a></li>
            <li><a href="../../../../../../../../about.html">About</a></li>
            <li><a href="../../../../../../../../news.html">News</a></li>
    {% endblock header %}

{% block content %}
<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <div class="column2">
      <h2>Featured Course of the Week!</h2>
      <a href="/courses.html">
        <img src="assets/images/level.png" alt="LEVELUP!" style="width:510px;height:275px;border:0;">
      </a>
        <p>
Photoshop is an art to put it in the simplest form. It is a way for an artist to express him or herself as it can allow for the creation of an image which could never really happen or take place. Photoshop is a difficult program to learn. A novice user cannot just sit down and instantly be able to master the program in one night and create some stunning images. It takes years of practice and honing of skills in order to create a fantastic Photoshop image.</p>

<p>One reason to learn Photoshop is to simply express yourself. You may want to be an artist but you may not be able to sit there or want to sit there and paint on a canvas. Photoshop is the canvas of the future as it allows the freedom to do virtually anything you want with an image as long as you have the skills to pull it off and make it pure quality. </p>
        
        
        <br class="clear" />
      </div>
      <div class="column2">
          <ul>
          <li>
            <h2>Levelup your Knowledge</h2>
            <div class="imgholder"><img src="assets/images/sign.jpg" alt="Sign Up Now!" /></div>
            <p>Levelup is a course portal for different fields. Here you can level up your knowledge from the courses and tutorials brougth to you by the Professionals and Knowledgesharers all over the world.</p>
            </p>
            <p class="readmore"><a href="/signup.html/">Click here to Sign Up for Student &raquo;</a></p>
          </li>
          <li class="last">
            <h2>Share your Knowledge</h2>
            <div class="imgholder"><img src="assets/images/share.jpg" alt="" /></div>
            <p>Want to Teach something? Want to teach the world? Make a Course or Tutorial now! Share the world the knowledge you have. Be a Levelupped Knowledge Sharer now!</p>
            
            <p class="readmore"><a href="#">Click here to Sign Up for Faculty &raquo;</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="fl_right">
      <h2>Other Tutorials and Courses</h2>
      <ul>
        <li>
          <div class="imgholder"><a href="http://photoshopcafe.com/use-puppet-warp-tool-photoshop-tutorial/"><img src="assets/images/1.jpg" alt="" /></a></div>
          <p><strong><a href="http://photoshopcafe.com/use-puppet-warp-tool-photoshop-tutorial/" target="_blank">How to use the Puppet Warp Tool in photoshop Tutorial</a></strong></p>
          <p>Learn how to reshape animals and people with the puppet warp tool in Photoshop. This tutorial shows you the best settings to use, by guest, Karen Alsop for Story Art. </p>
        </li>
        <li>
          <div class="imgholder"><a href="http://photoshopcafe.com/tutorials/convert-photos-black-white-photoshop-best-way/"><img src="assets/images/2.jpg" alt="" /></a></div>
          <p><strong><a href="http://photoshopcafe.com/tutorials/convert-photos-black-white-photoshop-best-way/" target="_blank">How to Convert Photos to Black and White in Photoshop, the best way!</a></strong></p>
          <p>How to convert a photo to black and white in Photoshop. The Channel mixer is still the best way to get a clean black and white photo in Photoshop. This tutorial explains why and examines the other methods too. This is the best way to learn black and white photos in Photoshop.</p>
        </li>
        <li>
          <div class="imgholder"><a href="http://photoshopcafe.com/ridiculously-easy-way-remove-power-lines-photo-photoshop-tutorial"><img src="assets/images/3.jpg" alt="" /></a></div>
          <p><strong><a href="http://photoshopcafe.com/ridiculously-easy-way-remove-power-lines-photo-photoshop-tutorial" target="_blank">Ridiculously easy way to remove power lines from a photo in Photoshop</a></strong></p>
          <p>How to remove power lines from a photo in Photoshop. This super fast trick, makes it so easy to remove distractions from photos in a non destructive way. Watch this free Photoshop video tutorial by Colin Smith</p>
        </li>
        <li>
          <div class="imgholder"><a href="http://photoshopcafe.com/swapping-backgrounds-photoshop-selection-tips-get-refine-edge-cc-2017/"><img src="assets/images/4.jpg" alt="" /></a></div>
          <p><strong><a href="http://photoshopcafe.com/swapping-backgrounds-photoshop-selection-tips-get-refine-edge-cc-2017/">Swapping Backgrounds in Photoshop. Selection tips and how to get Refine Edge in CC 2017</a></strong></p>
          <p>Photoshop CC tutorial, how to easily swap the background in a photo. Refine Edge in the latest version of Photoshop with a secret shortcut and super clean edges on your cutouts, so that they blend in perfectly with the background.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="http://photoshopcafe.com/complete-guide-layer-blending-modes-photoshop/"><img src="assets/images/5.jpg" alt="" /></a></div>
          <p><strong><a href="http://photoshopcafe.com/complete-guide-layer-blending-modes-photoshop/">Complete guide to Layer Blending Modes in Photoshop, written, video + free ebook</a></strong></p>
          <p>The complete guide to Layer Blending modes in Photoshop. This tutorial shows you how to use blending modes and what each blend mode does. Free PDF ebook included.</p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
{% endblock content %}
