{% extends 'base.html' %}
{% block title %}Home{% endblock title %}


    {% block header %}
            <li class="active"><a href="../../../../../../../../">Home</a></li>
            <li><a href="../../../../../../../../courses.html">Courses</a></li>
            <li><a href="../../../../../../../../about.html">About</a></li>
            <li><a href="../../../../../../../../news.html">News</a></li>
    {% endblock header %}

{% block content %}
<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <div class="column2">
      <h2>Lipsum !</h2>
      <a href="default.asp">
        <img src="assets/images/level.png" alt="LEVELUP!" style="width:510px;height:290px;border:0;">
      </a>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique congue. Liberoaenec vest maurisus libero pede nisl ligula cursus vitae dis metus. Aeneanaccumsan orci nasce ac pulvinare enim tor quis antesque cumsan in. Justomontesque sem ac dolor iaculum dolor orci elit lacus et vestibulum.</p>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique congue. Liberoaenec vest maurisus libero pede nisl ligula cursus vitae dis metus. Aeneanaccumsan orci nasce ac pulvinare enim tor quis antesque cumsan in. Justomontesque sem ac dolor iaculum dolor orci elit lacus et vestibulum.</p>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique congue. Liberoaenec vest maurisus libero pede nisl ligula cursus vitae dis metus. Aeneanaccumsan orci nasce ac pulvinare enim tor quis antesque cumsan in. Justomontesque sem ac dolor iaculum dolor orci elit lacus et vestibulum.</p>
        
        <br class="clear" />
      </div>
      <div class="column2">
          <ul>
          <li>
            <h2>Lipsum</h2>
            <div class="imgholder"><img src="assets/images/demo/240x130.gif" alt="" /></div>
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
          <li class="last">
            <h2>Lipsum</h2>
            <div class="imgholder"><img src="assets/images/demo/240x130.gif" alt="" /></div>
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="fl_right">
      <h2>Latest From The School Blog</h2>
      <ul>
        <li>
          <div class="imgholder"><a href="https://www.pup.edu.ph/news/?go=wzt4FLfRkNU%3d"><img src="assets/images/pup.png" alt="" /></a></div>
          <p><strong><a href="https://www.pup.edu.ph/news/?go=wzt4FLfRkNU%3d" target="_blank">PUP remains main source of fresh grads for employers - JobStreet</a></strong></p>
          <p>Based on the recent Fresh Graduates 2017 Report of JobStreet.com released on March 15, 2017, 56% of the employers prefers PUP because of the graduates'  attitude, among others.</p>
        </li>
        <li>
          <div class="imgholder"><a href="http://mattscradle.com/tesda-courses-list-enrollment/"><img src="assets/images/tesda.png" alt="" /></a></div>
          <p><strong><a href="http://mattscradle.com/tesda-courses-list-enrollment/" target="_blank">200+ Tesda Courses (List) in 2017, and Enrollment Requirements (Complete) target="_blank"</a></strong></p>
          <p>Tesda offered courses are disseminated in different fields of specialization. There are programs that can help a student to land a job in the call center industry. There is caregiver course if students are aiming for job related to healthcare. The growth of mobile technology opens a lot of job opportunities to those who took up cellphone servicing course.</p>
        </li>
        <li>
          <div class="imgholder"><a href="https://tedxupdiliman.com/about/"><img src="assets/images/ted.png" alt="" /></a></div>
          <p><strong><a href="https://tedxupdiliman.com/about/" target="_blank">TEDxUPDiliman 2017: Point Blank is the first official TEDxUPDiliman event.</a></strong></p>
          <p>TEDxUPDiliman: Point Blank. April 22, 2017 | Malcolm Hall Theatre, UP College of Law. TEDxUPDiliman 2017 will be held on April 22, 2017, from 1pm till 6pm</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="assets/images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="#"><img src="assets/images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
{% endblock content %}
