{% extends 'base.html' %}
{% block title %}Logout{% endblock title %}


    {% block header %}
            <li><a href="../../../../../../../../">Home</a></li>
            <li><a href="../../../../../../../../courses.html">Courses</a></li>
            <li><a href="../../../../../../../../about.html">About</a></li>
            <li><a href="../../../../../../../../news.html">News</a></li>
    {% endblock header %}

{% block content %}
<h1>You are now Logout!</h1>
<h3><a href="../signup.html">New Student? REGISTER HERE! &raquo;</a></h3>
<a href="/">Home</a>
{% endblock content %}