{% extends 'base.html' %}
{% block title %}Success!{% endblock title %}


    {% block header %}
            <li><a href="../../../../../../../../">Home</a></li>
            <li><a href="../../../../../../../../courses.html">Courses</a></li>
            <li><a href="../../../../../../../../about.html">About</a></li>
            <li><a href="../../../../../../../../news.html">News</a></li>
    {% endblock header %}

{% block content %}
<h1>You are now registered!</h1>
<br>
<h2>Faculty registration must wait for Administration approval before logging in.</h2>

<a href="/">Home</a>
{% endblock content %}