{% extends 'base.html' %}
{% block title %}Sign up{% endblock title %}

{% block logintab %}
    <div class="wrapper col0">
      <div id="topbar">
        <div id="slidepanel">
          <div class="topbox">
            <h2>Registration</h2>
            <br><br><br>
            <center><p><a href="signup.html">New Student? REGISTER HERE! &raquo;</a></p></center>
            <br><br><br>
            Consult an administrator in signing up for Faculty
            <p></p>
          </div>
          <div class="topbox">
            <h2>Faculty Login</h2>
            <form action="#" method="post">
              <fieldset>
                <legend>Faculty Login Form</legend>
                <label for="teachername">Username:
                  <input type="text" name="teachername" id="teachername" value="" />
                </label>
                <label for="teacherpass">Password:
                  <input type="password" name="teacherpass" id="teacherpass" value="" />
                </label>
                <p>
                <br>
                  <input type="submit" name="teacherlogin" id="teacherlogin" value="Login" />
                  &nbsp;
                  <input type="reset" name="teacherreset" id="teacherreset" value="Reset" />
                </p>
              </fieldset>
            </form>
          </div>
          <div class="topbox last">
            <h2>Students Login</h2>
            <form action="#" method="post">
              <fieldset>
                <legend>Students Login Form</legend>
                <label for="pupilname">Username:
                  <input type="text" name="pupilname" id="pupilname" value="" />
                </label>
                <label for="pupilpass">Password:
                  <input type="password" name="pupilpass" id="pupilpass" value="" />
                </label>
                <p>
                <br>
                  <input type="submit" name="pupillogin" id="pupillogin" value="Login" />
                  &nbsp;
                  <input type="reset" name="pupilreset" id="pupilreset" value="Reset" />
                </p>
              </fieldset>
            </form>
          </div>
          <br class="clear" />
        </div>
        <div id="loginpanel">
          <ul>
            <li class="left">Log In Here &raquo;</li>
            <li class="right" id="toggle"><a id="slideit" href="#slidepanel">Students/Faculty</a><a id="closeit" style="display: none;" href="#slidepanel">Close Panel</a></li>
          </ul>
        </div>
        <br class="clear" />
      </div>
    </div>
{% endblock logintab %}

{% block content %}
	<form method="POST" action="{% url 'signup' %}">
	{% csrf_token %}
		First Name:<input type="text" name="fname" id="fname"><br>
		Last Name:<input type="text" name="lname" id="lname"><br>
		Birthday:<input type="date" name="bday" id="bday"><br>
		Gender:<input type="text" pattern="[M|F]" name="gen" id="gen" placeholder="M or F"><br>
		Username:<input type="text" name="user" id="user"><br>
		Password:<input type="password" name="pwd" id="pwd"><br>
		Street Address:<input type="text" name="sadd" id="sadd"><br>
		Municipality Address:<input type="text" name="madd" id="madd"><br>
		Province Address:<input type="text" name="padd" id="padd"><br>
		ZIP Code:<input type="text" name="zip" id="zip"><br>
		Mobile No.:<input type="text" name="mob" id="mob"><br>
		Email<input type="email" name="email" id="email"><br>
		<input type="submit" value="Register">
	</form>
{% endblock content %}