{% extends 'base.html' %}
{% block title %}Success!{% endblock title %}


    {% block header %}
            <li><a href="../../../../../../../../">Home</a></li>
            <li><a href="../../../../../../../../courses.html">Courses</a></li>
            <li><a href="../../../../../../../../about.html">About</a></li>
            <li><a href="../../../../../../../../news.html">News</a></li>
    {% endblock header %}

{% block content %}
<center><h1>You are now login!</h1>
{% if user.is_authenticated %}
<h3>Welcome {{ user.username }}!</h3></center>
{% endif %}
<a href="/">Home</a>
{% endblock content %}