{% extends 'base.html' %}
{% block title %}Success!{% endblock title %}


    {% block header %}
    <div class="wrapper col1">
      <div id="header">
        <div id="logo">
          <h1><a href="../../../../../../../../">GGWP Schools</a></h1>
          <p>#Tagline here</p>
        </div>
        <div id="topnav">
          <ul>
            <li class="active"><a href="../../../../../../../../">Home</a></li>
            <li><a href="../../../../../../../../courses.html">Courses</a></li>
            <li><a href="../../../../../../../../about.html">About</a></li>
            <li class="last"><a href="../../../../../../../../news.html">News</a></li>
          </ul>
        </div>
        <br class="clear" />
      </div>
    </div>
    {% endblock header %}

{% block content %}
<h1>You are now login!</h1>
{% if user.is_authenticated %}
<h3>Welcome {{ user.username }}!</h3>
{% endif %}
<a href="/">Home</a>
{% endblock content %}